@import url('../css/style_efeitos.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    font-family: 'Archivo';
}

.background-group {
    background-color: #F2F5FC;
}

body, html{
    font-family: 'Archivo';
    
}



.topbar {
    background-color: #000000;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
    max-width: 100%;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; 
}

.close-btn {
    float: right;
    cursor: pointer;
    color: #4C4A5E; 
    margin-right: 7%;   
}

.close-btn:hover {
    color: white;
    transition: all 0.3s;   
}

.container {
    max-width: 100%;
    margin-top: 35px;
    margin-left: 10%;
    display: flex;
    align-items: center;
  justify-content: space-between;
}

.container img {
    width: 176px;
    height: 39px;
    max-width: 100%;
}

.container img:hover {
    transform: scale(1.05);
    transition: all 0.3s;   
}

.contato {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto; /* Isso empurra para a direita */
    margin-right: 10%; /* Ajuste conforme necessário */
}

.contato img {
    width: 25px;
    max-width: 100%; /* Ajuste a largura conforme necessário */
    height: 25px;
    max-height: 100%;
    margin-right: 10px;
}

.contato a.link-acessar {
 color: #1E1C2D;
 font-size: 14;
 text-decoration: none;
 position: relative;

}


.contato a.button {
    padding: 10px 20px; /* Adicionei o padding para espaçamento interno */
    margin-left: 10%; /* Ajuste conforme necessário */
    max-width: 100%;
    color: #1D63FF;
    border: 1px solid #1D63FF;
    text-decoration: none;
    display: flex;
    white-space: nowrap;
    position: relative;
   
}

@media (max-width: 700px) {
    .contato a.button {
        display: none;
    }
}

@media (max-width: 600px) {
    .close-btn {
        margin-right: 2%; 
    }

    header {
        flex-direction: column;
    }

    .container {
        flex-direction: column;
        text-align: center; 
        margin-left: auto;
        margin-right: auto;
    }

    .contato {
        margin-left: auto;
        margin-right: auto;
        margin-top: 15px;
    }

    .container img {
        margin-bottom: 10px; 
    }

    .contato a.button {
        margin-top: 15px; 
    }

    .intro {
        flex-direction: column; 
        align-items: center;
        gap: 15px; 
    }

    .img-intro {
        display: none;
    }

    .titulo-intro {
        margin-top: 15px;
    }

    .content-intro {
        margin-top: -20px;
        text-align: center;
    }
}



.intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    gap: 35%;
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
}

.titulo-intro{

    display: flex;
    flex-direction: row;   
    align-items: center;
    max-width: 100%;
    margin-left: 10%;   
    margin-top: -500px;   
}


.titulo-intro p{
    margin-left: 0;
    white-space: nowrap; 
   
}



.img-intro {
    max-width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}


.titulo-intro img {
    margin-right: 10px;
    max-width: 100%;
}


.content-intro { 
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin-left: 10%;
    margin-top: -550px;
    width: 700px;
}

.content-intro span {
    display: flex;
    font-size: 72px;  
    width: 100%;
    white-space: nowrap;
}

.content-intro p {
    max-width: 100%;
    display: flex;
    font-size: 72px;
    font-style: normal;
    line-height: 125%; /* 90px */
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;

    
}

.content-intro h3 {
    display: flex;
    width: 545px;
    max-width: 100%;
    font-size: 20px;
    font-weight: 350;
    line-height: 150%;
    margin-top: 16px; /* Ajuste conforme necessário para espaçamento superior */
}

.botoes-intro {
    display: inline-flex;
    margin-left: 10%;
    margin-top: 40px;
    max-width: 100%;
    max-height: 100%;  
    align-items: center;
    position: relative;
}


.botao-intro {
display: flex;
color: #fff;
padding: 17px 32px 17px 32px;
align-items: center;
gap: 10px;
font-size: 18px;
font-weight: 600;
line-height: 150%; /* 27px */
background:#1D63FF;
text-decoration: none;
border: none;
cursor: pointer;
margin-right: 40px;
}

.botao-intro:hover {
    color: #1D63FF;
    background: #dee1e8;
    transform: scale(1.05);
    transition: all 0.3s; 
}

.botoes-intro img {
    display: inline-flex;
    text-align: center;
    align-items: center;
    width: 13px;
    height: 20px;
    margin-right: 10px;

}

.Fale-Conosco {
    font-family: 'Archivo';
    display: flex;
    text-align: center;
    align-items: center;
    text-decoration: none;
    color: #1E1C2D;
    font-family: Archivo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    position: relative;
}



.Fale-Conosco-div {
    display: flex;
    align-items: center;
    max-width: 100%;
    max-height: 100%;  
}


.Fale-Conosco-div:hover {

    transform: scale(1.05);
    transition: all 0.3s; 
}


.receita {
    width: 221px;
    height: 199px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto; /* Isso empurra para a direita */
    margin-right: 10%; /* Ajuste conforme necessário */
    margin-top: -115px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0px 30px 40px -20px rgba(96, 74, 74, 0.2); 
    backdrop-filter: blur(24px)"
    

}


.icon-chat {
    width: 63px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto; /* Isso empurra para a direita */
    margin-right: 30%; /* Ajuste conforme necessário */
    margin-top: -330px;


}
.arrow {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 50px;
    max-width: 100%;
    max-height: 100%;  
    align-items: center;
    position: absolute;
    
}


.arrow-sobre {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    max-width: 100%;
    max-height: 100%;  
    align-items: center;
    position: absolute;
    margin-top: -25px;
    
}

.feedback {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 344px;
    background-color: #1D63FF;
    margin-top: 387px;
    max-width: 100%;
    justify-content: center;
    background-image: url("../img/retangulo-1.png"),
                      url("../img/retangulo-2.png");
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    


}

.feedback-text {

    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 0;
    width: 378px; 
    gap: 10px;
}


.feedback-text p{
    color: white;
    font-size: 20px;
    font-family: Archivo;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word
}



.feedback-text img {
    width: 22px;
    height: 22px;
}

.feedback-profile {
    display: flex;
    align-items: center;
    margin-left: 10%;
    margin-top: 20px;
    width: 378px; 
    gap: 10px;
    
}

.feedback-profile img {
    width: 54px;
    height: 54px;
    background-color: #FFd76f;
    border-radius: 50px;
}

.feedback-profile p {
    color: white;
font-size: 18px;
font-family: Archivo;
font-weight: 600;
line-height: 27px;
word-wrap: break-word
}

.feedback-profile span {
    color: white;
    font-size: 14px;
    font-family: Archivo;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word
}



.feedback-status {
    display: flex;
    margin-left: auto;
    margin-right: 16%;



}

.lista-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.lista {
    display: flex;
    gap: 56px;
    align-items: center;
    justify-content: center;
    margin-top: -185px;
   }
   
   .item {
    display: flex;
    flex-direction: column;
    align-items: start;
   }
   
   .numero {
    display: flex;
    font-weight: bold;
    color: white;
font-size: 56px;
font-family: Archivo;
font-weight: 400;
line-height: 70px;
word-wrap: break-word
   }
   
   .descricao {
    align-self: flex-start;
    margin-top: 5px;
    color: white;
font-size: 18px;
font-family: Archivo;
font-weight: 400;
line-height: 27px;
word-wrap: break-word
   }



   .img-container {
    display: flex;
    position: absolute; /* Define a posição absoluta para permitir o posicionamento personalizado */
    width: 382px;
    height: 100px;
    align-items: start;
    margin-right: 230px;
    
    
}

.obs {
    display: flex;
    flex-direction: row;
    color: white;
    margin-left: auto;
    margin-top: 55px;
    font-size: 14px;
    font-family: Archivo;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
    width: 100%;
}



.sobre { 
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-left: 10%;
    margin-top: 120px;
    width: 700px;
}

.tag {
    color: #1D63FF;
font-size: 14px;
font-family: Archivo;
font-weight: 600;
line-height: 21px;
word-wrap: break-word
}

.sobre-titulo {
    color: #0D0B1A;
    font-size: 48px;
    font-family: Archivo;
    font-weight: 400;
    line-height: 60px;
    word-wrap: break-word;
width: 483px;
margin-top: 16px;
}

.box-check {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 40px;
    
}

.item-check {
    display: flex;  
    color: #2A2739;
font-size: 14px;
font-family: Archivo;
font-weight: 400;
line-height: 21px;
word-wrap: break-word
  }

.box-check img {
    width: 24px;
    height: 24px;
    margin-right: 16px;


}

.box-check p {
    margin: 0;
}


.img-info {
    display: flex;
    width: 164px;
    height: 255px;
    margin-left: auto;
    max-width: 100%;
    margin-left: 213px;
    margin-right: 105px;
    margin-top: 23px;
}

.video-imagem {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 0;
    margin-bottom: auto;
  }

  .video-imagem img {
    box-shadow: 0px 30px 40px -20px rgba(96, 74, 74, 0.2); 
  }

  .video-imagem p {
    margin-top: 25px;
    color: #2A2739;
font-size: 18px;
font-family: Archivo;
font-weight: 400;
line-height: 27px;
word-wrap: break-word;
  }

  .video-imagem span {
    color: #2A2739;
font-size: 18px;
font-family: Archivo;
font-weight: 600;
line-height: 27px;
word-wrap: break-word;

  }

  .imagem-container {
    position: relative;
    max-width: 100%;
  }

  .video-img {
    display: flex;
    width: auto;
    height: auto;
  } 

  .botao {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #1D63FF;
    color: #fff;
    text-decoration: none;
    border-radius: 50%; 
    font-weight: bold;
    transition: background-color 0.3s ease;
    background-image: url('../img/Play.png');
    background-repeat: no-repeat;
    background-position: center;
    border: 6px rgba(71, 95, 255, 0.655) solid;
    box-shadow: 0 0 10px rgba(71, 95, 255, 0.575);

  }
  
  .botao:hover {
    background-color: #1450c7;
  }
  


  .patrocinio {
    text-align: center;
    background-color: #F2F5FC;
    height: 136px;
    display: flex; /* Adiciona um display flex à .patrocinio */
    align-items: center; /* Centraliza verticalmente os itens */
    justify-content: center;
    margin-top: 120px;
    
  }

  .patrocinio-itens {
    gap: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .patrocinio-itens div {
    margin: 0 15px;
  }

  .patrocinio-itens img {
    width: 210px; /* Largura ajustada para 120px */
    height: 55px;
    filter: grayscale(100%);
    transition: filter 0.3s;
  }

  .patrocinio-itens div:hover img {
    filter: grayscale(0%);
  }

  
.metodologia { 
    max-width: 100%;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-left: 10%;
    margin-top: 120px;
    flex-wrap: nowrap;
}


.tag-meto {
    color: #1D63FF;
font-size: 14px;
font-family: Archivo;
font-weight: 600;
line-height: 21px;
word-wrap: break-word
}

.meto-titulo {
    color: #0D0B1A;
    font-size: 48px;
    font-family: Archivo;
    font-weight: 400;
    line-height: 60px;
    word-wrap: break-word;
width: 483px;
margin-top: 16px;
}

.meto-mg-info-1 {
    display: flex;
    flex: 1;
    width: 384px;
    height: 476px;
    flex-shrink: 0;
    display: flex;
    position: relative;
    margin-left: auto;
    background-color: #F2F5FC;
}

.meto-mg-info-div {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    position: relative; 
    align-items: baseline;
    margin-left: 15px;
    gap: 25px;
    margin-top: 50px;
}

.computador, .reflexo {
    width: 100%;
    height: auto;
    display: block;
}

.reflexo {
    position: absolute;
    top: 15px; 
    left: 15px; 
    width: 90%; 
    height: auto;
    display: block;
}

.meto-mg-info-2 {
    width: 176px;
    height: 195px;
}

.meto-img-2 {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantém a proporção da imagem */
}



.passo-a-passo {
    display: flex;
    max-width: 100%;
    margin-left: 15%;
    margin-top: 30px;
    width: 700px;
    gap: 30px;
    position: relative;
}

.img-passo {
    align-self: center; /* Alinha a imagem ao centro verticalmente */
}

.passo-a-passo-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 55px; /* Adapte conforme necessário */
}



.passo {
    display: flex;
    align-items: center;

    margin-bottom: 67px; /* Adapte conforme necessário */
}




.passo-texto {
    display: flex;
    flex-direction: column;
    gap: 4px;
    


    }

    
    .passo-texto p{
        font-family: Archivo;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 30px */
    }

    .passo-texto span{

        font-family: Calibri;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 27px */
  
    }


.spacing{
    max-width: 100%;
    background-color: #F2F5FC;
    height: 120px;
    margin-top: 70px;
}


    .blog { 
        max-width: 100%;
        display: flex;
        flex-direction: row;
        max-width: 100%;
        margin-left: 10%;

        flex-wrap: nowrap;

    }

    .bg-blog {
        background-color: #F2F5FC;
    }

    .blog-tag{
        color: #1D63FF;
    font-size: 14px;
    font-family: Archivo;
    font-weight: 600;
    line-height: 21px;
    word-wrap: break-word
    }
    
    .blog-titulo {
        color: #0D0B1A;
        font-size: 48px;
        font-family: Archivo;
        font-weight: 400;
        line-height: 60px;
        word-wrap: break-word;
        width: 411px;
        margin-top: 16px;
    }

    .texto-intro {
        margin-top: 120px;
        max-width: 100%;
        margin-left: 27%;
        height: auto;
        position: relative;
         /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    }


    .texto-intro a {
        color: #0D0B1A;
        position: relative;
        text-decoration: none; /* Remova a decoração de texto padrão para evitar sublinhado */
        font-family: Archivo;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 27px */
    }

    .seta-generica {
        margin-top: 120px;
        margin-left: auto; /* Empurra a .seta-generica para a direita */
        margin-right: 21%;
    }
    .container-img {
        gap: 50px;
        display: flex;
        justify-content: center; /* Centraliza os itens horizontalmente */
        align-items: center; /* Centraliza os itens verticalmente */
        flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha quando não houver espaço suficiente */
        margin-top: 100px;
    }
    
    .image-container {
        display: flex;
        flex-direction: column;
        align-items:start; /* Centraliza os itens horizontalmente dentro de cada .image-container */
        
    }
    
    .image-container img {

        width: 331px; /* Ajuste a largura conforme necessário */
        height: 354px; /* Ajuste a altura conforme necessário */
        display: flex;
        margin-bottom: 5px;
    }

    .text-container {
        margin-top: 24px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        text-align: center;
        gap: 10px;
    }

    .text-container p {
        color: var(--brand-primary-default, #1D63FF);
/* Body / 16 / semi */
            font-family: Archivo;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%; /* 24px */

        align-self: flex-start; /* Alinha o texto no início verticalmente */
    }


    .text-container span {
        color: var(--brand-neutrals-dark-300, #353345);
/* Body/16/regular */
font-family: Archivo;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
    }

 .desc-blog {
    font-family: Archivo;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
width: 331px;
margin-top: 20px;
 }

 .additional-content {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.additional-content img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.additional-content p {
    flex-direction: column;
    margin: 0; /* Remove a margem padrão do parágrafo para evitar espaçamento extra */

}

.additional-content span {
    display: flex;
    flex-direction: column; /* Coloca o <span> em coluna (um embaixo do outro) */
}


.add-desc p{
    font-family: Archivo;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
}

.add-desc span {
    font-family: Archivo;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
}


.slider {
    margin-top: 100px; /* Ajuste conforme necessário para definir a distância entre a última imagem e o slider */
    text-align: center;
}

.spacing-bottom{
    max-width: 100%;
    background-color: #F2F5FC;
    height: 120px;
}




.duvidas { 
    max-width: 100%;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin-left: 10%;
    margin-top: 120px;
    flex-wrap: nowrap;
}


.tag-duvidas {
    color: #1D63FF;
font-size: 14px;
font-family: Archivo;
font-weight: 600;
line-height: 21px;
word-wrap: break-word
}

.duvidas-titulo {
    color: #0D0B1A;
    font-size: 48px;
    font-family: Archivo;
    font-weight: 400;
    line-height: 60px;
    word-wrap: break-word;
width: 483px;
margin-top: 16px;
margin-bottom: 16px;
}

.desc-duvidas {
    font-family: Archivo;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 30px */
width: 411px;
}

.botao-duvidas{
    display: flex;
    color: #fff;
    padding: 17px 32px 17px 32px;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%; /* 27px */
    background:#1D63FF;
    text-decoration: none;
    border: none;
    cursor: pointer;
    margin-right: 40px;
    }
    
    .botao-duvidas:hover {
        color: #1D63FF;
        background: #dee1e8;
        transform: scale(1.05);
        transition: all 0.3s; 
    }

    .botoes-duvidas {

        flex-direction: column;
        margin-top: 40px;
        max-width: 100%;
        max-height: 100%;  
        align-items: center;
        
    }
    
    .Fale-Conosco-duvidas {
        font-family: 'Archivo';

    text-align: center;
    align-items: center;
    text-decoration: none;
    color: #1E1C2D;
    font-family: Archivo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    position: relative;
    
      }

      .botoes-inferiores {
        max-width: 100%;
        height: auto;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 30px; /* Ajuste conforme necessário para definir a distância entre o botão e os elementos abaixo */
      
      }

      .accordion {
        margin-left: auto;
        padding: 20px;
        margin-right: 10%;
        width: 100%;
      }

      .accordion-item {
        border-bottom: 1px solid #CBD6E2;
        margin-bottom: 50px; /* Adicione margem inferior entre os itens */
        margin: 20px;
    }
    
    .accordion-header {
        padding: 10px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 55px;
    }
    
    .accordion-content {
        display: none;
        padding: 10px;
    }
    
    .accordion-toggle {
        font-weight: bold;
    }
    
    .accordion-item.active .accordion-content {
        display: block;
    }

    .accordion-header p{
        padding: 30px;
    }
    
    .accordion-header span {
        color: #4C4A5E;
        font-size: 35px;
    }

    .container-cards {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70px;
       
        
       
    
      }
      
      .cards {
        max-width: 100%;
        max-height: 100%;
        background: var(--brand-neutrals-light-gray-01, #F2F5FC);
        width: 450px;
        height: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .cards :hover {
        background: rgba(255, 255, 255, 0.90);
      }
      
      .img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0; /* Ajuste conforme necessário para o espaçamento entre os cards */
      }
      
      .img-container img {
        padding: 10px;
      }

      .cards:hover {
        background: rgba(255, 255, 255, 0.90);
        transition: all 0.3s;   
      
    }

 
    
    

    

    
    
  




@media screen and (max-width: 900px) {
    .img-intro {
        display: none;
    }

    .titulo-intro {
        text-align: center; 
        margin-left: auto;
        margin-right: auto;
        text-align: center; /* Centraliza o título na horizontal */
        margin-top: 20px; /* Ajuste conforme necessário para dar espaço ao título */
    }

    .content-intro { 
        width: 100%;
        max-width: 100%;
        flex-direction: column;
        text-align: center; 
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px; /* Ajuste conforme necessário para espaçamento superior */
    }

    .content-intro p {
        display: inline-block;
        align-items: center;
        text-align: center; /* Centraliza o conteúdo na horizontal */
        font-size: 32px; /* Ajuste para 32 pixels */
        margin-top: 10px; 
    }
    .content-intro span {
        align-items: center;
        display: inline-block;
        text-align: center; /* Centraliza o conteúdo na horizontal */
        font-size: 32px; /* Ajuste para 32 pixels */
        margin-top: 10px; /* Ajuste conforme necessário para espaçamento entre elementos */
    }

    .content-intro h3 {
        margin-left: auto;
        margin-right: auto; /* Adicionado para centralizar horizontalmente */
        text-align: center; /* Centraliza o conteúdo na horizontal */
        font-size: 16px; /* Ajuste para 32 pixels */
        margin-top: 10px; 
    }

    .botao-intro {
        margin-right: 0;
    }

    .botoes-intro {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .botoes-intro img {
        margin-right: 0; /* Removendo margem à direita para empilhar a imagem abaixo do botão */
        margin-top: 0; /* Adicionando margem superior para espaçamento entre a imagem e o link */
    }

    .Fale-Conosco {
        margin-top: 0; /* Removendo margem superior para alinhar o link com a imagem */
        margin-left: auto;
        margin-right: auto; 
        align-items: center;
        text-align: center;

    }	

    .Fale-Conosco-div {
        margin-top: 20px;
    }



}





@media screen and (max-width: 1276px) {

    .arrow {
        display: none;
    }

    .arrow-sobre {
        display: none;
    }

    .icon-chat {
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        margin-top: 200px;
    }

    .icon-chat img {
        width: 100%;
        height: 100%;
        margin-right: 0;
    }

    
    .receita {
        max-width: 100%;
        max-height: 100%;
        width: 221px;
        height: 199px;
        display: flex;
        align-items: right;
        justify-content: right;
        position: fixed; /* Torna o elemento fixo na tela */
        top: 50%; /* Centraliza verticalmente */    
        transform: translate(-50%, -50%); /* Corrige a posição após a centralização */
        margin: 0; /* Remover margens que podem interferir com o posicionamento */
        margin-top: 470px;
        margin-left: 70%;
        margin-right: auto;
        position: absolute;
}



.feedback {
    width: 100%;
    flex-direction: column;
    height: auto;
    margin-top: 700px; /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
  }

  .feedback-profile { 
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }

  .feedback-text {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: center;
  }

  .feedback-status {
    align-items: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 300px; /* Ajuste conforme necessário para espaçamento entre a lista e o bloco feedback */
  }

  .lista-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Adicionado para centralizar o conteúdo na horizontal */
  }

  .img-container {
    max-width: 100%;
    text-align: center;
    margin-right: 0;
    overflow: hidden;
    display: none;
  }

  .img-container img {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;


  }

  .item {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .lista {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .item-check {
    text-align: center;
    margin-bottom: 10px; /* Ajuste conforme necessário para espaçamento entre itens */
    align-items: center;
  }

  .numero {
    text-align: center;
    align-items: center;
  }

  .obs {
    margin-top: 20px; /* Ajuste conforme necessário para espaçamento entre o texto e a lista */
    text-align: center;
  }

  .feedback-text img {
    margin-right: 0;
  }

.sobre {
    max-width: 100%;
    flex-direction: column;
    height: auto;
    margin-top: 50px; /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    margin: auto;

  }

  .sobre-empresa {
    max-width: 100%;
    flex-direction: column;
    margin-top: 50px; /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
  }

  .tag {
    max-width: 100%;
    flex-direction: column;
    height: auto;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;

  }

  .box-check {
    max-width: 100%;
    flex-direction: column;
    height: auto;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;
  }

  .sobre-titulo {
    max-width: 100%;
    flex-direction: column;
    height: auto;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;
  }

  .video-imagem {
    max-width: 100%;
    flex-direction: column;
    height: auto;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;
    margin-top: -990px;
  }



  .img-info {

    max-width: 100%;
    height: auto;
    margin-right: 5px;
    margin-left: 170px;
    margin-top: 800px;
    
  }



  .video-img {
    max-width: 100%;
    flex-direction: column;
    height: auto;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;
    padding: 50px;

  }

  .patrocinio {
    max-width: 100%;
    flex-direction: column;
    height: auto;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;
    margin-top: 500px;
  }

  .patrocinio-itens {
    max-width: 100%;
    flex-direction: column;
    height: auto;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;
  }


  .metodologia {
    max-width: 100%;
    flex-direction: column;
    height: auto;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .meto {
    max-width: 100%;
    flex-direction: column;
    height: auto;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;

  }

  .tag-meto {
    max-width: 100%;
    flex-direction: column;
    height: auto;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;
  }

  .meto-titulo {
    max-width: 100%;
    flex-direction: column;
    height: auto;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;
font-family: Archivo;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 125%; /* 30px */
  }

  .meto-mg-info-1 {
    max-width: 100%; /* Define a largura para 100% quando a tela for menor que 960px */

}

.meto-mg-info-2 {
    max-width: 100%; /* Define a largura para 100% quando a tela for menor que 960px */
}

.reflexo {
    display: none;
}
.computador {
    max-width: 100%;
    margin: 0;
}

.meto-mg-info-1,
.meto-mg-info-2 {
    max-width: 50%; /* Defina a largura para menos de 50% para deixar espaço para a margem e gap */
    flex-direction: column;
    height: auto;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;
    margin: 0;

}

.meto-mg-info-div {
    max-width: 100%;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;
    margin: 0;
    margin-top: 700px;
    max-height: auto;
}

.passo-a-passo {
    max-width: 100%;
    margin: 0;
    height: auto;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;
    margin-top: -850px;
}
 
.img-passo {
    max-width: 100%;
    height: auto;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;
}

.passo-a-passo-div{
    display: flex;
    flex-direction: column; /* ou row, dependendo da orientação desejada */
    align-items: left;
    justify-content: left;
    max-width: 100%;
    height: auto;
    /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    text-align: left;
    margin: 0;
    gap: 67px;
  } 

  .passo-texto p {
    font-family: Archivo;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 24px */
white-space: nowrap;
  }

  .passo-texto span {
    font-family: Calibri;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
white-space: nowrap;
  }

  .passo {
    max-width: 100%;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    margin-bottom: 10px;
  }



  .blog{
    max-width: 100%;
    flex-direction: column;
    height: auto;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;
    margin-top: 200px;
}

.blog-intro {
    max-width: 100%;
    flex-direction: column;
    height: auto;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;
}


.blog-tag {
    max-width: 100%;
    flex-direction: column;
    height: auto;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;
}

.blog-titulo {
    max-width: 100%;
    flex-direction: column;
    height: auto;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;
}

.texto-intro {
    max-width: 100%;
    flex-direction: column;
    height: auto;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;
}

.container-img {
    max-width: 100%;
    flex-direction: column;
    height: auto;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;
    margin: 0;
}

.bg-blog {
    max-width: 100%;
}

.image-container {
    max-width: 100%;
    flex-direction: column;
    height: auto;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;
    margin: 0;

}

.image-container img{
    max-width: 100%;
    flex-direction: column;
    height: auto;
     /* Ajuste conforme necessário para espaçamento entre o bloco feedback e o próximo elemento */
    align-items: center;
    text-align: center;
    margin: 0;

}

}
















